@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	max-width: 1200px;
	margin: auto;
	padding: 16px;
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	padding: 8px;
	background-color: #7451eb;
	text-align: center;
	color: white;
}
header img {
	height: 60px;
	margin-left: 1rem;
}
header h1 {
	flex-grow: 1;
}

main {
	display: flex;
	flex-direction: row;
}

.filtres {
	border-radius: 4px;
	box-shadow: 0px 0px 4px gray;
	align-items: center;
	justify-items: center;
	margin: 8px;
	padding: 8px;
	min-width: 300px;
	min-height: 400px;
}
.filtres button {
	align-items: center;
	margin: 3px 15px 3px 15px;
	width: 270px;
	padding: 5px 10px 5px 10px;
}
.filtres h3 {
	text-align: center;
}

.fiches {
	flex: 1;
	margin: 8px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 4px;
}
.fiches button {
	display: flex;
	align-items: center;
	margin: auto;
	text-align: center;
	border-radius: 8px;
	padding: 8px;
}
.fiches article {
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 0px 0px 4px gray;
	padding: 4px;
}
.fiches article img {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 200px;
}
.fiches article p {
	margin-top: 4px;
	margin-bottom: 4px;
}
.fiches article h2 {
	text-align: center;
}

.slider-prix {
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

input {
	margin: 5px;
}